<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ApiUrl" value="http://dev.webapi.mybuylist.com" xdt:Transform="SetAttributes"/>
  </appSettings>
  
  <connectionStrings>
    <!--<add name="MyBuyListEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.53;initial catalog=MyBuyList;persist security info=True;user id=mbl;password=6s2dhX@5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes"/>-->
    <add name="mybuylistEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=50.62.209.6;user id=mbl;password=XQwy4VBq7eb6yygT;persistsecurityinfo=True;database=mybuylistdev;charset=utf8;persistsecurityinfo=True;&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" />
  </connectionStrings>

</configuration>
