<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="FromEmail" value="support@mybuylist.com" xdt:Transform="SetAttributes"/>
    <add key="wsShoppingList.ShoppingList" value="http://localhost/MyBuyListMobileService/ShoppingList.asmx" xdt:Transform="SetAttributes"/>
    <add key="wsRecipes.RecipesService" value="http://localhost/MyBuyListMobileService/RecipesService.asmx" xdt:Transform="SetAttributes"/>
    <add key="ApiUrl" value="http://ec2-54-209-92-71.compute-1.amazonaws.com/webapi/api" xdt:Transform="SetAttributes"/>
  </appSettings>

  <connectionStrings>
    <add name="MyBuyListEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mybuylist.cpv2z9mq1gk1.us-east-1.rds.amazonaws.com;user id=mbl;password=XQwy4VBq7eb6yygT;persistsecurityinfo=True;database=MyBuyList&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes"/>
  </connectionStrings>

</configuration>
