<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyBuyListUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <MyBuyListUtil.Properties.Settings>
            <setting name="MyBuyListUtil_MBLService_Service" serializeAs="String">
                <value>http://62.219.10.11/MBLService/service.asmx</value>
            </setting>
        </MyBuyListUtil.Properties.Settings>
    </applicationSettings>
</configuration>