<smtp>
  <!--change these to an actual smtp server. include username and password attributes if necessary.-->
  <network host="smtp.gmail.com" port="587" userName="master.oren@gmail.com" password="tamir_lior" defaultCredentials="false"/>
  <!--<network host="mail.mybuylist.com" port="25" userName="support@mybuylist.com" password="arieldalit" />-->
</smtp>
