<appSettings>
  <add key="DefaultCacheSeconds" value="0" />
  <add key="MinBannerNumber" value="1" />
  <add key="MaxBannerNumber" value="7" />
  <add key="FromEmail" value="support@mybuylist.com" />
  <add key="anonymous" value="0" />
  <add key="WebServer" value="localhost/forum"/>
  <add key="AdminId" value="1"/>
  <add key="wsShoppingList.ShoppingList" value="http://localhost/MyBuyListMobileService/ShoppingList.asmx"/>
  <add key="wsRecipes.RecipesService" value="http://localhost/MyBuyListMobileService/RecipesService.asmx"/>
  <add key="NumberSeperator" value="."/>
  <add key="RestService" value="http://192.168.1.2/webapi"/>
</appSettings>

