<WebsiteNotifications>
  <WebsiteStarted Subject="The website has started" Enabled="true" SMSNotification="false">
    <Body IsHtml="true" Text="&lt;B&gt;the website started&lt;/B&gt;" />
  </WebsiteStarted>
  <WebsiteStopped Subject="The website has stopped" Enabled="true" SMSNotification="false">
    <Body IsHtml="true" Text="&lt;B&gt;Memory (KB):&lt;/B&gt; {2}&lt;BR /&gt;&lt;B&gt;Virtual Memory (KB):&lt;/B&gt; {3}&lt;BR /&gt;&lt;B&gt;Message:&lt;/B&gt; {0}&lt;BR /&gt;&lt;BR /&gt;&lt;B&gt;Stacktrace:&lt;/B&gt; {1}" />
  </WebsiteStopped>
  <WebsiteErrors Subject="Error ocurred in website" Enabled="true" SMSNotification="false">
    <Body IsHtml="true" Text="&lt;B&gt;Message:&lt;/B&gt; {0}&lt;BR /&gt;&lt;BR /&gt;&lt;B&gt;Stacktrace:&lt;/B&gt; {1}" />
  </WebsiteErrors>
  <From Name="mybuylist.com" Email="support@mybuylist.com" />
  <Recipients>
    <Recipient Name="Developer" Email="master.oren@gmail.com"/>
  </Recipients>
</WebsiteNotifications>