.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 140px;

    .header-top {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-self: flex-end;

        .welcome {
            display: flex;
            justify-content: space-between;
            font-size: 16px;

            .hello-user {
                margin-left: 10px;
            }
        }

        .links {
            display: flex;
            justify-content: space-between;
            color: #666563;
            font-size: 16px;

            .separator {
                padding: 0 10px;
            }

            a {
                color: black;

                &:hover {
                    text-decoration: underline
                }
            }
        }
    }

    .header-bottom {
        display: flex;
        align-items: center;

        .logo {
            img {
                width: 175px;
            }
        }

        .search {
            width: 100%;

            .search-box {
                width: 100%;

                .search-btn {
                }

                /*input {
                    height: 30px;
                    font-size: large;
                }*/

                .search-value {
                    width: 100%;
                    border: none;
                    font-size: large;
                    height: 30px;
                    flex: 1
                }
            }

            .search-filter {
                display: flex;
                height: 40px;
                font-size: large;
                align-items: center;

                input {
                    margin: 0;
                    margin-left: 5px;
                }

                label {
                    margin-left: 15px;
                }
            }
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
        height: 50px;

        .header-top {
            align-self: flex-start;

            .links {
                display: none;
            }
        }

        .header-bottom {
            margin-top: 10px;

            .logo {
                display: none;
            }

            .search {
                display: flex;
                justify-content: center;


                .search-box {
                    height: 35px;

                    .search-filter {
                        display: none;
                    }

                    .search-btn {
                    }

                    input {
                        width: 100%;
                    }

                    select {
                    }
                }
            }
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        height: 50px;

        .header-top {
            align-self: center;
            width: 80%;

            .links {
            }
        }

        .header-bottom {
            margin-top: 10px;
            justify-content: center;

            .logo {
                display: none;
            }

            .search {
                display: flex;
                justify-content: center;
                width: 80%;

                .search-box {
                    height: 35px;

                    .search-filter {
                        display: none;
                    }

                    .search-btn {
                    }

                    input {
                        width: 100%;
                    }

                    select {
                    }
                }
            }
        }
    }

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
        height: 90px;

        .header-top {
            align-self: center;
            width: 80%;
        }

        .header-bottom {
            margin-top: 10px;
            justify-content: center;

            .logo {
                display: block;

                img {
                    width: 70px;
                }
            }

            .search {
                display: flex;
                justify-content: center;
                width: 80%;

                .search-box {
                    height: 35px;

                    .search-filter {
                        display: none;
                    }

                    .search-btn {
                    }

                    input {
                        width: 100%;
                    }

                    select {
                    }
                }
            }
        }
    }
}
