.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 140px;

    .header-top {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-self: flex-end;

        .welcome {
            display: flex;
            justify-content: space-between;
            font-size: 12px;

            .hello-user {
                margin-left: 10px;
            }
        }

        .links {
            display: flex;
            justify-content: space-between;
            color: #666563;
            font-size: 12px;

            .separator {
                padding: 0 10px;
            }

            a {
                color: black;

                &:hover {
                    text-decoration: underline
                }
            }
        }
    }

    .header-bottom {
        display: flex;
        align-items: center;

        .logo {
            img {
                width: 175px;
            }
        }

        .search {
            width: 100%;
        }
    }
}
