.ingridiants {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .ingridiants .input-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 35px; }
    .ingridiants .input-section .input-wrapper {
      display: flex;
      justify-content: space-between;
      width: 55%; }
      .ingridiants .input-section .input-wrapper .input-section-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative; }
        .ingridiants .input-section .input-wrapper .input-section-item.action {
          margin-left: 0; }
        .ingridiants .input-section .input-wrapper .input-section-item .ingridiant-list {
          background-color: #ddecb6;
          border: 1px solid #A4CB3A;
          width: auto;
          min-width: 173px;
          max-width: 200px;
          overflow-y: auto;
          max-height: 100px;
          margin-top: 1px;
          display: none;
          color: #656565;
          position: absolute;
          top: 33px; }
          .ingridiants .input-section .input-wrapper .input-section-item .ingridiant-list .ingridiant-list-item {
            color: #656565;
            font-size: 12px;
            cursor: pointer; }
          .ingridiants .input-section .input-wrapper .input-section-item .ingridiant-list .ingridiant-list-item:hover {
            background-color: #808080; }
      .ingridiants .input-section .input-wrapper .input-section-item input.text {
        height: 14px;
        background-color: #ddecb6;
        border: 1px solid #A4CB3A;
        color: #656565;
        font-size: 12px; }
      .ingridiants .input-section .input-wrapper .input-section-item .quantity {
        background-color: #ddecb6;
        border: 1px solid #A4CB3A;
        width: 30px;
        text-align: center; }
  .ingridiants .ingredients-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #656565;
    width: 98%;
    height: 140px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 32px;
    overflow-y: scroll; }
    .ingridiants .ingredients-container .list-btn {
      font-family: Arial;
      margin-left: 5px;
      cursor: pointer;
      opacity: 0.6; }
      .ingridiants .ingredients-container .list-btn:hover {
        opacity: 1; }
      .ingridiants .ingredients-container .list-btn.edit-ingrediant {
        color: blue; }
      .ingridiants .ingredients-container .list-btn.delete-ingrediant {
        color: red; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .ingridiants .input-section {
      height: auto; }
      .ingridiants .input-section .input-wrapper {
        flex-direction: column; }
      .ingridiants .input-section .actions input {
        height: 33px; } }

.ingridiant-prefix {
  background-color: #ddecb6;
  border: 1px solid #A4CB3A;
  width: 100%; }

.drop-down-fractions {
  width: 50px;
  background-color: #ddecb6;
  height: 18px;
  font-weight: bold;
  font-size: 16px;
  color: #656565;
  border: 1px solid #A4CB3A;
  margin-top: 6px; }

drop-down-measurement-units {
  width: 76px;
  background-color: #ddecb6;
  height: 18px;
  font-weight: bold;
  font-size: 12px;
  color: #656565;
  border: 1px solid #A4CB3A;
  margin-top: 6px; }

.food-process {
  width: 157px;
  background-color: #ddecb6;
  color: #656565;
  border: 1px solid #A4CB3A;
  font-size: 12px;
  height: 14px;
  margin-top: 6px; }

a.action {
  width: 103px;
  height: 33px;
  display: block;
  cursor: pointer; }

#addIngridiant {
  background-image: url("Images/btn_AddProduct_up.png"); }

#updateIngridiant {
  background-image: url("Images/btn_EditProduct_up.png"); }

.floatRight {
  float: right; }

.col {
  margin-left: 5px; }

.row {
  font-size: 12pt;
  height: 20px; }
