.login-dialog .ui-dialog-titlebar {
  direction: rtl;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }
  .login-dialog .ui-dialog-titlebar .ui-dialog-title {
    float: none; }
  .login-dialog .ui-dialog-titlebar .ui-button {
    position: relative; }

.login-dialog .ui-dialog-buttonpane {
  display: flex; }

.login-dialog #popuplogin {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .login-dialog #popuplogin .credentials {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10px;
    flex: 1; }
    .login-dialog #popuplogin .credentials label {
      display: flex;
      flex-direction: column; }
    .login-dialog #popuplogin .credentials input {
      width: auto;
      text-align: right; }
  .login-dialog #popuplogin img {
    width: 100px; }

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  .login-dialog {
    width: 90% !important;
    top: 30px !important;
    position: fixed; } }
