body {
    /*margin: 0px 7%;*/
}


.main_wrapper {
    background-image: url('../../Images/bgr.jpg');
    background-repeat: repeat-y;
    background-position: center top;
    direction: rtl;

    .main {
        margin: 0 auto;
        max-width: 982px;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .main {
            display: flex;
            flex-direction: column;
        }
    }
}

.drawer {
    display: none;

    .drawer-trigger {
        position: absolute;

        input {
            width: 20px;
            padding: 7px 0 0 10px;
        }
    }

    .drawer-panel {
        width: 75%;
        background-color: #ededed;
        height: 100%;
        position: absolute;
        top: 2px;
        z-index: 10;

        .panel-close-trigger {
            display: flex;
            flex-direction: row-reverse;

            input {
                width: 16px;
                padding: 7px 7px 0 0;
            }
        }

        .navigation-links {
            display: flex;
            flex-direction: column;
            direction: rtl;
            text-decoration: none;
            font-size: x-large;
            height: 100px;
            justify-content: space-between;
            margin: 10px;
            align-items: flex-end;

            .link {
                display: flex;

                .link-text {
                    color: gray;
                }

                img {
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
        display: inline;
    }
}

.flex-container {
    display: flex;
    height: auto;
}

.flex-column {
    flex-direction: column;
}

[justify-content="space-between"] {
    justify-content: space-between;
}

[justify-content="start"] {
    justify-content: flex-start;
}

[align-items="center"] {
    align-items: center;
}

[flex-grow="1"] {
    flex: 1;
}
