@media screen and (max-width: 412px){
    body {
        margin: 0px;

        
    }

    .header {
        .logo-and-search {
            flex-direction: column;

            .search {
                width: 95%;
            }

            .logo {
                width: 100px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .search-box {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /*height: 80px;*/

        .search-types {
            display: none;
        }

        input {
            max-height: 30px;
            width: 100%;
        }

        select {
            height: 30px;
            max-height: 30px;
            direction: rtl;
        }
    }

    #reciep-wrapper {
        .header{
        }
    }
}

@media screen and (max-width: 732px) {
    .header {
        .logo-and-search {
            flex-direction: column;

            .search {
                width: 95%;
            }
        }
    }

    .search-box {
        flex-direction: column;
    }

    #reciep-wrapper {
        .header {
        }

        .search {
            margin-top: 10px;

            #recipes_filter {
                display: none;
            }
        }
    }
}