body {
  /*margin: 0px 7%;*/ }

.main_wrapper {
  background-image: url("../../Images/bgr.jpg");
  background-repeat: repeat-y;
  background-position: center top;
  direction: rtl; }
  .main_wrapper .main {
    margin: 0 auto;
    max-width: 982px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .main_wrapper .main {
      display: flex;
      flex-direction: column; } }

.drawer {
  display: none; }
  .drawer .drawer-trigger {
    position: absolute; }
    .drawer .drawer-trigger input {
      width: 20px;
      padding: 7px 0 0 10px; }
  .drawer .drawer-panel {
    width: 75%;
    background-color: #ededed;
    height: 100%;
    position: absolute;
    top: 2px;
    z-index: 10; }
    .drawer .drawer-panel .panel-close-trigger {
      display: flex;
      flex-direction: row-reverse; }
      .drawer .drawer-panel .panel-close-trigger input {
        width: 16px;
        padding: 7px 7px 0 0; }
    .drawer .drawer-panel .navigation-links {
      display: flex;
      flex-direction: column;
      direction: rtl;
      text-decoration: none;
      font-size: x-large;
      height: 100px;
      justify-content: space-between;
      margin: 10px;
      align-items: flex-end; }
      .drawer .drawer-panel .navigation-links .link {
        display: flex; }
        .drawer .drawer-panel .navigation-links .link .link-text {
          color: gray; }
        .drawer .drawer-panel .navigation-links .link img {
          width: 20px;
          margin-right: 10px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .drawer {
      display: inline; } }

.flex-container {
  display: flex;
  height: auto; }

.flex-column {
  flex-direction: column; }

[justify-content="space-between"] {
  justify-content: space-between; }

[justify-content="start"] {
  justify-content: flex-start; }

[align-items="center"] {
  align-items: center; }

[flex-grow="1"] {
  flex: 1; }
