body {
    /*margin: 0px 7%;*/
}


.main_wrapper {
    background-image: url('../../Images/bgr.jpg');
    background-repeat: repeat-y;
    background-position: center top;
    direction: rtl;

    .main {
        margin: 0 auto;
        max-width: 982px;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .main {
            display: flex;
            flex-direction: column;
        }
    }
}

.flex-container {
    display: flex;
    height: auto;
}

.flex-column {
    flex-direction: column;
}

[justify-content="space-between"] {
    justify-content: space-between;
}

[justify-content="start"] {
    justify-content: flex-start;
}

[align-items="center"] {
    align-items: center;
}

[flex-grow="1"] {
    flex: 1;
}
