body {
  /*margin: 0px 7%;*/ }

.main_wrapper {
  background-image: url("../../Images/bgr.jpg");
  background-repeat: repeat-y;
  background-position: center top;
  direction: rtl; }
  .main_wrapper .main {
    margin: 0 auto;
    max-width: 982px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .main_wrapper .main {
      display: flex;
      flex-direction: column; } }

@keyframes drawer-open {
  0% {
    left: -600px; }
  100% {
    left: 0px; } }

@keyframes drawer-close {
  0% {
    left: 0px; }
  100% {
    left: -600px; } }

.drawer {
  display: none; }
  .drawer .drawer-trigger {
    position: absolute; }
    .drawer .drawer-trigger img {
      width: 20px;
      padding: 7px 0 0 10px; }
  .drawer .drawer-panel {
    width: 75%;
    background-color: #383636;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 0.9;
    left: -600px; }
    .drawer .drawer-panel.open {
      left: 0px;
      animation: drawer-open 1s ease; }
    .drawer .drawer-panel.close {
      left: -600px;
      animation: drawer-close 1s ease; }
    .drawer .drawer-panel .panel-close-trigger {
      display: flex;
      flex-direction: row-reverse;
      height: 30px;
      background-color: #fff; }
      .drawer .drawer-panel .panel-close-trigger img {
        width: 16px;
        padding: 7px; }
    .drawer .drawer-panel .navigation-links {
      display: flex;
      flex-direction: column;
      direction: rtl;
      text-decoration: none;
      font-size: x-large;
      height: auto;
      justify-content: flex-start;
      margin: 10px;
      align-items: flex-end;
      flex: 1; }
      .drawer .drawer-panel .navigation-links .link {
        display: flex; }
        .drawer .drawer-panel .navigation-links .link .link-text {
          color: #fff; }
        .drawer .drawer-panel .navigation-links .link img {
          width: 20px;
          margin-right: 10px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .drawer {
      display: inline; }
      .drawer .recipe-actions {
        text-align: left;
        color: #666666;
        height: 26px;
        width: 100%; }
        .drawer .recipe-actions ul.actions {
          list-style-type: none;
          width: 100%;
          display: flex;
          margin-right: 0;
          padding-right: 0;
          flex-direction: column; }
          .drawer .recipe-actions ul.actions li {
            margin: 7px 0; }
            .drawer .recipe-actions ul.actions li a {
              color: #fff;
              text-decoration: none;
              font-size: large; }
            .drawer .recipe-actions ul.actions li a:after {
              content: "";
              margin: 0 5px; }
            .drawer .recipe-actions ul.actions li span {
              margin: 0 5px; }
          .drawer .recipe-actions ul.actions li:last-child a:after {
            content: ""; } }

.flex-container {
  display: flex;
  height: auto; }

.flex-column {
  flex-direction: column; }

[justify-content="space-between"] {
  justify-content: space-between; }

[justify-content="start"] {
  justify-content: flex-start; }

[align-items="center"] {
  align-items: center; }

[flex-grow="1"] {
  flex: 1; }
