.recipe-details {

    .m-t-10 {
        margin-top: 10px;
    }

    .m-l-5 {
        margin-left: 5px;
    }

    .recipe-top {
        display: flex;
        flex-direction: column;
        padding-right: 160px;

        .recipe-name-wrapper {
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .recipe-name {
                color: #8bac31;
                font-size: 18px;
                text-decoration: none;
                font-weight: bold;
                height: 30px;
                margin-top: 5px;

                img {
                    float: right;
                }

                div {
                    float: right;
                    vertical-align: top;
                }
            }

            .add-recipe {
                padding-left: 15px;
            }
        }

        .top-tags-wrapper {
            height: 43px;

            .top-tags {
                width: 80%;
                display: flex;
                justify-content: flex-start;

                .top-tag {
                    display: flex;
                    margin-left: 10px;
                }

                .top-tag-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ebedf0;
                    color: #606770;
                    font-weight: bold;
                    font-family: David;
                    max-width: 48px;
                    text-align: center;
                    padding: 0 5px;
                    font-size: 12px;
                }

                .myFavoritesTopTag {
                    background-image: url('../../Images/icon_Add.jpg');
                    background-repeat: no-repeat;
                    height: 43px;
                    width: 55px;
                    font-weight: bold;
                    background-position: -71px;
                }

                #allFavoritesTopTag {
                    background-image: url('../../Images/icon_LoveRecipe.jpg');
                    background-repeat: no-repeat;
                    height: 30px;
                    width: 55px;
                    font-weight: bold;
                    font-size: 10px;
                    color: White;
                    padding-top: 13px;
                    background-position: -71px;
                }

                #allMenusTopTag {
                    background-image: url('../../Images/icon_InMenu.jpg');
                    background-repeat: no-repeat;
                    height: 28px;
                    width: 55px;
                    font-weight: bold;
                    font-size: 10px;
                    color: White;
                    padding-top: 15px;
                    background-position: -71px;
                }
            }
        }
    }

    .recipe-wrapper {
        display: flex;
        flex-direction: column;

        .green-title {
            color: #8bac31;
            font-weight: 600;
            font-size: 16px;
        }

        &__top {
        }

        &__middle {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 10px;

            &__top {
                display: flex;
                justify-content: space-between;

                .right, .left {
                    display: flex;
                    flex-direction: column;
                }

                .right {
                    width: 60%;

                    .recipe-categories {
                        clear: both;
                        color: #8bac31;
                        font-size: 13px;
                        text-decoration: none;
                        font-weight: bold;
                        display: flex;
                        flex-direction: column;
                    }

                    .recipe-tags {
                        display: flex;
                        flex-direction: column;
                    }

                    .recipe-publisher-box {
                    }

                    .recipe-description {
                        display: flex;
                        flex-direction: column;
                    }

                    .recipe-ingredients {
                        display: flex;
                        flex-direction: column;
                    }

                    .recipe-tools {
                        display: flex;
                        flex-direction: column;
                    }

                    .recipe-difficulty {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .left {
                    &__top-actions {
                        display: flex;
                        justify-content: space-between;
                    }

                    .recipe_video {
                        text-align: left;
                        height: auto;
                        width: 444px;
                        margin-top: 50px;
                    }

                    .recipe-picture {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;

                        &__tags {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .tag {
                                display: flex;
                                width: 126px;
                            }

                            .tag-image {
                                display: block;
                                width: 69px;
                                height: 68px;
                                background-position: -57px;
                                background-repeat: no-repeat;
                            }

                            .tag-text {
                                font-weight: bold;
                                color: #656565;
                                display: block;
                                flex: 1;
                                background-color: gainsboro;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            #servingsInfoTag {
                                background-image: url('../../Images/icon_Portion.jpg');
                            }

                            #prepTimeInfoTag {
                                background-image: url('../../Images/icon_Preparation.jpg');
                            }

                            #cookTimeInfoTag {
                                background-image: url('../../Images/icon_Cooking.jpg');
                            }
                        }
                    }
                }
            }

            &__bottom {
                display: flex;
                flex-direction: column;

                .recipe-remarks {
                    display: flex;
                    flex-direction: column;
                }

                .recipe-instructions {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .recipe_nutrients {
            padding-right: 22px;
            padding-bottom: 44px;
        }

        .recipe-actions {
            text-align: left;
            color: #666666;
            background-color: #fff;
            height: 26px;
            width: 100%;

            ul {
                list-style-type: none;
                width: 100%;
                display: flex;
                margin-right: 0;
                padding-right: 0;

                li {
                    a {
                        color: #666666;
                        text-decoration: underline;

                        &:visited {
                            color: #666666;
                            text-decoration: underline;
                        }

                        &:hover {
                            color: #666666;
                            text-decoration: none;
                        }
                    }

                    a:after {
                        content: "|";
                        margin: 0 5px;
                    }

                    span {
                        margin: 0 5px;
                    }
                }

                li:last-child {
                    a:after {
                        content: "";
                    }
                }
            }
        }

        .wrapper_bottom_tab2 {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .wrapper_bottom_tab2_1 {
                height: 30px;
                width: 100%;
                background-image: url('../../Images/bgr_IndexRecipesBottom.png');
                background-position: right top;
                background-repeat: no-repeat;
            }

            .wrapper_bottom_tab2_2 {
                height: 30px;
                min-width: 20px;
                background-image: url('../../Images/bgr_TabIndexReciepesRight.png');
                background-position: right bottom;
                background-repeat: no-repeat;
            }

            .wrapper_bottom_tab2_3 {
                background-image: url('../../Images/bgr_TabIndexReciepesCenter.png');
                /*background-position:bottom;*/
                background-repeat: repeat-x;
                vertical-align: top;
            }

            .wrapper_bottom_tab2_4 {
                height: 30px;
                min-width: 20px;
                background-image: url('../../Images/bgr_TabIndexReciepesLeft.png');
                background-position: left bottom;
                background-repeat: no-repeat;
            }
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        margin: 10px;

        .desktop {
            display: none !important;
        }

        .recipe-top {
            flex-direction: column;
            padding-right: 0;

            .recipe-name-wrapper {
                flex-direction: column;

                .recipe-name {
                    text-overflow: ellipsis;
                    width: 95%;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-top: 0;
                }
            }

            .top-tags-wrapper {
                display: flex;
                height: auto;
                margin-top: 5px;

                .top-tags {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .top-tag {
                        margin-left: 0;

                        .top-tag-text {
                            max-width: 46px;
                        }
                    }
                }
            }
        }

        .recipe-wrapper {
            display: flex;
            flex-direction: column;

            &__middle {
                &__top {
                    flex-direction: column-reverse;

                    .right {
                        width: 100%;
                    }

                    .left {
                        .recipe_video {
                            margin-top: 20px;
                        }

                        .recipe-picture {
                            flex-direction: column-reverse;

                            &__tags {
                                flex-direction: row-reverse;
                                margin-top: 5px;
                                height: 100px;

                                .tag {
                                    flex-direction: column;
                                    align-items: center;
                                }

                                .tag-image {
                                }

                                .tag-text {
                                    width: 68px;
                                }

                                #servingsInfoTag {
                                }

                                #prepTimeInfoTag {
                                }

                                #cookTimeInfoTag {
                                }
                            }

                            &__image {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-device-width: 568px) and (max-device-width: 768px) {
        margin: 10px;

        .desktop {
            display: none !important;
        }

        .recipe-top {
            flex-direction: column;
            padding-right: 0;

            .recipe-name-wrapper {
            }

            .top-tags-wrapper {
                display: flex;
                height: auto;

                .top-tags {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;

                    .top-tag {

                        .top-tag-text {
                            max-width: 46px;
                        }
                    }
                }
            }
        }

        .recipe-wrapper {
            display: flex;
            flex-direction: column;

            &__middle {
                &__top {
                    flex-direction: column-reverse;

                    .right {
                        width: 100%;
                    }

                    .left {
                        .recipe_video {
                            margin-top: 20px;
                        }

                        .recipe-picture {
                            align-items: center;

                            &__tags {
                                flex-direction: row-reverse;
                                margin-top: 5px;
                                height: 100px;

                                .tag {
                                    flex-direction: column;
                                    align-items: center;
                                }

                                .tag-image {
                                }

                                .tag-text {
                                    width: 68px;
                                }

                                #servingsInfoTag {
                                }

                                #prepTimeInfoTag {
                                }

                                #cookTimeInfoTag {
                                }
                            }

                            &__image {
                                display: flex;
                                justify-content: center;

                                img {
                                    width: 95%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        margin: 10px;

        #UpdatePanel1 {
            display: flex;
            flex-direction: column;
        }

        .recipe-top {
            flex-direction: column;
            padding-right: 0;

            .top-tags-wrapper {
                display: flex;
                height: auto;

                .top-tags {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;

                    .top-tag {

                        .top-tag-text {
                            max-width: 46px;
                        }
                    }
                }
            }
        }

        .recipe-wrapper {
            display: flex;
            flex-direction: column;

            &__middle {
                &__top {
                    flex-direction: column-reverse;

                    .right {
                        width: 100%;
                    }

                    .left {

                        .recipe_video {
                            margin-top: 20px;
                        }

                        .recipe-picture {
                            align-items: center;

                            &__tags {
                                flex-direction: row-reverse;
                                margin-top: 5px;
                                height: 100px;

                                .tag {
                                    flex-direction: column;
                                    align-items: center;
                                }

                                .tag-text {
                                    width: 68px;
                                }
                            }

                            &__image {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
        margin: 10px;

        #UpdatePanel1 {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .recipe-top {
            flex-direction: column;
            padding-right: 0;

            .top-tags-wrapper {
                display: flex;
                height: auto;

                .top-tags {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;

                    .top-tag {

                        .top-tag-text {
                            max-width: 46px;
                        }
                    }
                }
            }
        }

        .recipe-wrapper {
            display: flex;
            flex-direction: column;

            &__middle {
                &__top {
                    flex-direction: row;

                    .right {
                        width: 100%;
                    }

                    .left {

                        .recipe_video {
                            margin-top: 20px;
                        }

                        .recipe-picture {
                            align-items: flex-start;

                            &__tags {
                                flex-direction: column;
                                margin-top: 5px;
                                height: 100px;

                                .tag {
                                    flex-direction: row;
                                    align-items: center;
                                }

                                .tag-text {
                                    width: 68px;
                                    height: 68px;
                                }
                            }

                            &__image {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
