/*recipes*/
#reciep-wrapper {

    .header {
        height: 120px;

        .top {
            margin-top: 40px;
            margin-bottom: 18px;
            padding: 0px;
            padding-right: 2px;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.3em;
            text-align: justify;
        }

        .search {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .recipes-filter {
                color: #656565;
                font-weight: bold;
                text-align: right;
                padding-top: 5px;
                padding-right: 175px;

                .filter {
                    display: flex;
                    width: 270px;
                    justify-content: space-between;
                }

                a {
                    text-decoration: underline;
                    color: #656565;

                    &:hover {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .recipes {
        float: right;
        width: 600px;

        .recipe_list {
            .recipe_main_category {
                width: 100%;
                position: relative;
                top: 6px;
            }

            .pager {
                text-align: center;
                width: 100%;
            }

            .recipe_box {
                height: auto;
                margin-bottom: 30px;
                font-size: 12px;
                background-image: none;

                .body {
                    clear: both;
                    height: 133px;
                    padding-right: 12px;
                    padding-left: 12px;
                    padding-top: 20px;
                    background-color: white;

                    .recipe_inner_box {
                        width: 100%;
                        float: none;

                        .recipe_title {
                            a {
                                font-size: 1.6em;
                            }
                        }

                        .recipe_tags {
                            display: none;
                            clear: both;
                            color: #000000;
                            font-size: 13px;
                            text-decoration: none;
                            font-weight: bold;
                            margin-top: 11px;
                        }

                        .recipe_description {
                            display: none;
                            clear: both;
                            margin-top: 17px;
                            text-align: right;
                        }

                        .published_date {
                            display: none;
                        }

                        .recipe_actions_box {
                            display: none;
                            font-size: 1.3em;
                        }
                    }

                    .recipe_thumbnail_box {
                        margin-top: -50px;
                        margin-left: 3px;

                        .recipe_thumbnail {
                            img {
                                max-height: 94px;
                                max-width: 123px;
                            }
                        }
                    }
                }
            }
        }
    }

    .ShoppingList {
        float: left;
        width: 350px;
        margin-right: 10px;
        margin-top: 38px;

        .check input {
            border-color: #8dac34;
        }
    }
}
