/*recipes*/
#reciep-wrapper .header {
  height: 120px; }
  #reciep-wrapper .header .top {
    margin-top: 40px;
    margin-bottom: 18px;
    padding: 0px;
    padding-right: 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    text-align: justify; }
  #reciep-wrapper .header .search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    #reciep-wrapper .header .search .recipes-filter {
      color: #656565;
      font-weight: bold;
      text-align: right;
      padding-top: 5px;
      padding-right: 175px; }
      #reciep-wrapper .header .search .recipes-filter .filter {
        display: flex;
        width: 270px;
        justify-content: space-between; }
      #reciep-wrapper .header .search .recipes-filter a {
        text-decoration: underline;
        color: #656565; }
        #reciep-wrapper .header .search .recipes-filter a:hover {
          text-decoration: none;
          cursor: pointer; }

#reciep-wrapper .body {
  display: flex;
  justify-content: center;
  align-items: center; }
  #reciep-wrapper .body .recipes {
    width: 100%; }
    #reciep-wrapper .body .recipes #upRecipes {
      width: 100%;
      display: flex;
      justify-content: center; }
    #reciep-wrapper .body .recipes .recipe_list {
      display: flex;
      flex-direction: column;
      min-width: 65%; }
      #reciep-wrapper .body .recipes .recipe_list .pager {
        text-align: center;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        direction: ltr; }
        #reciep-wrapper .body .recipes .recipe_list .pager span {
          color: #a4cb3a;
          text-decoration: underline;
          padding: 3px;
          width: 25px; }
        #reciep-wrapper .body .recipes .recipe_list .pager a {
          color: #656565;
          text-decoration: none;
          padding: 3px;
          width: 20px; }
          #reciep-wrapper .body .recipes .recipe_list .pager a:hover {
            color: #656565;
            text-decoration: underline; }
      #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper {
        display: flex;
        flex-direction: column; }
        #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe-category {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          position: relative;
          top: 3px;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          color: #8DAC34;
          min-width: 100px; }
          #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe-category .category-name {
            background-color: #fff;
            text-wrap: none;
            margin-top: 3px; }
        #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box {
          height: auto;
          margin-bottom: 30px;
          font-size: 12px;
          background-image: none; }
          #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body {
            display: flex;
            height: 133px;
            width: 100%;
            padding: 10px;
            background-color: white; }
            #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box {
              width: 100%;
              display: flex;
              flex-direction: column; }
              #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box .recipe_title {
                font-weight: bold; }
                #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box .recipe_title a {
                  font-size: 1.6em;
                  color: #8DAC34;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 400px; }
              #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box .recipe_tags {
                display: none;
                color: #000000;
                font-size: 13px;
                text-decoration: none;
                font-weight: bold;
                margin-top: 11px; }
              #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box .recipe_description {
                display: none;
                margin-top: 17px;
                text-align: right; }
              #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box .published_date {
                display: none; }
              #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box .published_value {
                margin-right: 5px; }
              #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box .recipe_actions_box {
                display: none;
                font-size: 1.3em; }
            #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_thumbnail_box {
              display: flex;
              flex-direction: column;
              justify-content: flex-end; }
              #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_thumbnail_box .recipe_thumbnail img {
                max-height: 94px;
                max-width: 123px; }

#reciep-wrapper .ShoppingList {
  float: left;
  width: 350px;
  margin-right: 10px;
  margin-top: 38px; }
  #reciep-wrapper .ShoppingList .check input {
    border-color: #8dac34; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  #reciep-wrapper .header {
    height: 90px; }
    #reciep-wrapper .header .search {
      flex-direction: column;
      align-items: center; }
      #reciep-wrapper .header .search .recipes-filter {
        padding-right: 0; }
  #reciep-wrapper .body .recipes {
    width: 100%; }
    #reciep-wrapper .body .recipes #upRecipes {
      width: 100%; }
    #reciep-wrapper .body .recipes .recipe_list {
      width: 100%; }
      #reciep-wrapper .body .recipes .recipe_list .pager {
        margin-bottom: 20px;
        width: 100%; }
      #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body {
        padding: 0; }
        #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box {
          width: 60%; }
          #reciep-wrapper .body .recipes .recipe_list .recipe-box-wrapper .recipe_box .body .recipe_inner_box .recipe_title a {
            font-size: 1.4em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 95%; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #reciep-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center; }
    #reciep-wrapper .header .search .recipes-filter {
      padding-right: 0; }
    #reciep-wrapper .body .recipes {
      width: 100%; }
      #reciep-wrapper .body .recipes #upRecipes {
        width: 100%; }
      #reciep-wrapper .body .recipes .recipe_list {
        width: 100%; }
        #reciep-wrapper .body .recipes .recipe_list .pager {
          margin-bottom: 20px;
          width: 100%; } }
