.recipe-details .m-t-10 {
  margin-top: 10px; }

.recipe-details .m-l-5 {
  margin-left: 5px; }

.recipe-details .recipe-top {
  display: flex;
  flex-direction: column;
  padding-right: 160px; }
  .recipe-details .recipe-top .recipe-name-wrapper {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    .recipe-details .recipe-top .recipe-name-wrapper .recipe-name {
      color: #8bac31;
      font-size: 30px;
      text-decoration: none;
      font-weight: bold;
      margin-top: 5px; }
      .recipe-details .recipe-top .recipe-name-wrapper .recipe-name img {
        float: right; }
      .recipe-details .recipe-top .recipe-name-wrapper .recipe-name div {
        float: right;
        vertical-align: top; }
    .recipe-details .recipe-top .recipe-name-wrapper .add-recipe {
      padding-left: 15px; }
  .recipe-details .recipe-top .top-tags-wrapper {
    height: 43px; }
    .recipe-details .recipe-top .top-tags-wrapper .top-tags {
      width: 80%;
      display: flex;
      justify-content: flex-start; }
      .recipe-details .recipe-top .top-tags-wrapper .top-tags .top-tag {
        display: flex;
        margin-left: 10px; }
      .recipe-details .recipe-top .top-tags-wrapper .top-tags .top-tag-text {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ebedf0;
        color: #606770;
        font-weight: bold;
        font-family: David;
        max-width: 48px;
        text-align: center;
        padding: 0 5px;
        font-size: 12px; }
      .recipe-details .recipe-top .top-tags-wrapper .top-tags .myFavoritesTopTag {
        background-image: url("../../Images/icon_Add.jpg");
        background-repeat: no-repeat;
        height: 43px;
        width: 55px;
        font-weight: bold;
        background-position: -71px; }
      .recipe-details .recipe-top .top-tags-wrapper .top-tags #allFavoritesTopTag {
        background-image: url("../../Images/icon_LoveRecipe.jpg");
        background-repeat: no-repeat;
        height: 30px;
        width: 55px;
        font-weight: bold;
        font-size: 10px;
        color: White;
        padding-top: 13px;
        background-position: -71px; }
      .recipe-details .recipe-top .top-tags-wrapper .top-tags #allMenusTopTag {
        background-image: url("../../Images/icon_InMenu.jpg");
        background-repeat: no-repeat;
        height: 28px;
        width: 55px;
        font-weight: bold;
        font-size: 10px;
        color: White;
        padding-top: 15px;
        background-position: -71px; }

.recipe-details .recipe-wrapper {
  display: flex;
  flex-direction: column; }
  .recipe-details .recipe-wrapper .green-title {
    color: #8bac31;
    font-weight: 600;
    font-size: 16px; }
  .recipe-details .recipe-wrapper__middle {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px; }
    .recipe-details .recipe-wrapper__middle__top {
      display: flex;
      justify-content: space-between; }
      .recipe-details .recipe-wrapper__middle__top .right, .recipe-details .recipe-wrapper__middle__top .left {
        display: flex;
        flex-direction: column; }
      .recipe-details .recipe-wrapper__middle__top .right {
        width: 60%; }
        .recipe-details .recipe-wrapper__middle__top .right .recipe-categories {
          clear: both;
          color: #8bac31;
          font-size: 13px;
          text-decoration: none;
          font-weight: bold;
          display: flex;
          flex-direction: column; }
        .recipe-details .recipe-wrapper__middle__top .right .recipe-tags {
          display: flex;
          flex-direction: column; }
        .recipe-details .recipe-wrapper__middle__top .right .recipe-description {
          display: flex;
          flex-direction: column; }
        .recipe-details .recipe-wrapper__middle__top .right .recipe-ingredients {
          display: flex;
          flex-direction: column; }
        .recipe-details .recipe-wrapper__middle__top .right .recipe-tools {
          display: flex;
          flex-direction: column; }
        .recipe-details .recipe-wrapper__middle__top .right .recipe-difficulty {
          display: flex;
          flex-direction: column; }
      .recipe-details .recipe-wrapper__middle__top .left__top-actions {
        display: flex;
        justify-content: space-between; }
      .recipe-details .recipe-wrapper__middle__top .left .recipe_video {
        text-align: left;
        height: auto;
        width: 444px;
        margin-top: 50px; }
      .recipe-details .recipe-wrapper__middle__top .left .recipe-picture {
        display: flex;
        justify-content: space-between;
        margin-top: 10px; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag {
            display: flex;
            width: 126px; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag-image {
            display: block;
            width: 69px;
            height: 68px;
            background-position: -57px;
            background-repeat: no-repeat; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag-text {
            font-weight: bold;
            color: #656565;
            display: block;
            flex: 1;
            background-color: gainsboro;
            display: flex;
            align-items: center;
            justify-content: center; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags #servingsInfoTag {
            background-image: url("../../Images/icon_Portion.jpg"); }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags #prepTimeInfoTag {
            background-image: url("../../Images/icon_Preparation.jpg"); }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags #cookTimeInfoTag {
            background-image: url("../../Images/icon_Cooking.jpg"); }
    .recipe-details .recipe-wrapper__middle__bottom {
      display: flex;
      flex-direction: column; }
      .recipe-details .recipe-wrapper__middle__bottom .recipe-remarks {
        display: flex;
        flex-direction: column; }
      .recipe-details .recipe-wrapper__middle__bottom .recipe-instructions {
        display: flex;
        flex-direction: column; }
  .recipe-details .recipe-wrapper .recipe_nutrients {
    padding-right: 22px;
    padding-bottom: 44px; }
  .recipe-details .recipe-wrapper .recipe-actions {
    text-align: left;
    color: #666666;
    background-color: #fff;
    height: 26px;
    width: 100%; }
    .recipe-details .recipe-wrapper .recipe-actions ul {
      list-style-type: none;
      width: 100%;
      display: flex;
      margin-right: 0;
      padding-right: 0; }
      .recipe-details .recipe-wrapper .recipe-actions ul li a {
        color: #666666;
        text-decoration: underline; }
        .recipe-details .recipe-wrapper .recipe-actions ul li a:visited {
          color: #666666;
          text-decoration: underline; }
        .recipe-details .recipe-wrapper .recipe-actions ul li a:hover {
          color: #666666;
          text-decoration: none; }
      .recipe-details .recipe-wrapper .recipe-actions ul li a:after {
        content: "|";
        margin: 0 5px; }
      .recipe-details .recipe-wrapper .recipe-actions ul li span {
        margin: 0 5px; }
      .recipe-details .recipe-wrapper .recipe-actions ul li:last-child a:after {
        content: ""; }
  .recipe-details .recipe-wrapper .wrapper_bottom_tab2 {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .recipe-details .recipe-wrapper .wrapper_bottom_tab2 .wrapper_bottom_tab2_1 {
      height: 30px;
      width: 100%;
      background-image: url("../../Images/bgr_IndexRecipesBottom.png");
      background-position: right top;
      background-repeat: no-repeat; }
    .recipe-details .recipe-wrapper .wrapper_bottom_tab2 .wrapper_bottom_tab2_2 {
      height: 30px;
      min-width: 20px;
      background-image: url("../../Images/bgr_TabIndexReciepesRight.png");
      background-position: right bottom;
      background-repeat: no-repeat; }
    .recipe-details .recipe-wrapper .wrapper_bottom_tab2 .wrapper_bottom_tab2_3 {
      background-image: url("../../Images/bgr_TabIndexReciepesCenter.png");
      /*background-position:bottom;*/
      background-repeat: repeat-x;
      vertical-align: top; }
    .recipe-details .recipe-wrapper .wrapper_bottom_tab2 .wrapper_bottom_tab2_4 {
      height: 30px;
      min-width: 20px;
      background-image: url("../../Images/bgr_TabIndexReciepesLeft.png");
      background-position: left bottom;
      background-repeat: no-repeat; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .recipe-details {
    margin: 10px; }
    .recipe-details .desktop {
      display: none !important; }
    .recipe-details .recipe-top {
      flex-direction: column;
      padding-right: 0; }
      .recipe-details .recipe-top .recipe-name-wrapper {
        flex-direction: column; }
        .recipe-details .recipe-top .recipe-name-wrapper .recipe-name {
          text-overflow: ellipsis;
          width: 95%;
          white-space: nowrap;
          overflow: hidden;
          margin-top: 0;
          font-size: 18px; }
      .recipe-details .recipe-top .top-tags-wrapper {
        display: flex;
        height: auto;
        margin-top: 5px; }
        .recipe-details .recipe-top .top-tags-wrapper .top-tags {
          width: 100%;
          display: flex;
          justify-content: space-between; }
          .recipe-details .recipe-top .top-tags-wrapper .top-tags .top-tag {
            margin-left: 0; }
            .recipe-details .recipe-top .top-tags-wrapper .top-tags .top-tag .top-tag-text {
              max-width: 46px; }
    .recipe-details .recipe-wrapper {
      display: flex;
      flex-direction: column; }
      .recipe-details .recipe-wrapper__middle__top {
        flex-direction: column-reverse; }
        .recipe-details .recipe-wrapper__middle__top .right {
          width: 100%; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe_video {
          margin-top: 20px; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe-picture {
          flex-direction: column-reverse; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags {
            flex-direction: row-reverse;
            margin-top: 5px;
            height: 100px; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag {
              flex-direction: column;
              align-items: center; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag-text {
              width: 68px; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__image {
            display: flex;
            justify-content: center; } }

@media only screen and (min-device-width: 568px) and (max-device-width: 768px) {
  .recipe-details {
    margin: 10px; }
    .recipe-details .desktop {
      display: none !important; }
    .recipe-details .recipe-top {
      flex-direction: column;
      padding-right: 0; }
      .recipe-details .recipe-top .top-tags-wrapper {
        display: flex;
        height: auto; }
        .recipe-details .recipe-top .top-tags-wrapper .top-tags {
          width: 100%;
          display: flex;
          justify-content: flex-start; }
          .recipe-details .recipe-top .top-tags-wrapper .top-tags .top-tag .top-tag-text {
            max-width: 46px; }
    .recipe-details .recipe-wrapper {
      display: flex;
      flex-direction: column; }
      .recipe-details .recipe-wrapper__middle__top {
        flex-direction: column-reverse; }
        .recipe-details .recipe-wrapper__middle__top .right {
          width: 100%; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe_video {
          margin-top: 20px; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe-picture {
          align-items: center; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags {
            flex-direction: row-reverse;
            margin-top: 5px;
            height: 100px; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag {
              flex-direction: column;
              align-items: center; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag-text {
              width: 68px; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__image {
            display: flex;
            justify-content: center; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__image img {
              width: 95%; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .recipe-details {
    margin: 10px; }
    .recipe-details #UpdatePanel1 {
      display: flex;
      flex-direction: column; }
    .recipe-details .recipe-top {
      flex-direction: column;
      padding-right: 0; }
      .recipe-details .recipe-top .top-tags-wrapper {
        display: flex;
        height: auto; }
        .recipe-details .recipe-top .top-tags-wrapper .top-tags {
          width: 100%;
          display: flex;
          justify-content: flex-start; }
          .recipe-details .recipe-top .top-tags-wrapper .top-tags .top-tag .top-tag-text {
            max-width: 46px; }
    .recipe-details .recipe-wrapper {
      display: flex;
      flex-direction: column; }
      .recipe-details .recipe-wrapper__middle__top {
        flex-direction: column-reverse; }
        .recipe-details .recipe-wrapper__middle__top .right {
          width: 100%; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe_video {
          margin-top: 20px; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe-picture {
          align-items: center; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags {
            flex-direction: row-reverse;
            margin-top: 5px;
            height: 100px; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag {
              flex-direction: column;
              align-items: center; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag-text {
              width: 68px; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__image {
            display: flex;
            justify-content: center; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
  .recipe-details {
    margin: 10px; }
    .recipe-details #UpdatePanel1 {
      display: flex;
      flex-direction: column;
      width: 100%; }
    .recipe-details .recipe-top {
      flex-direction: column;
      padding-right: 0; }
      .recipe-details .recipe-top .top-tags-wrapper {
        display: flex;
        height: auto; }
        .recipe-details .recipe-top .top-tags-wrapper .top-tags {
          width: 100%;
          display: flex;
          justify-content: flex-start; }
          .recipe-details .recipe-top .top-tags-wrapper .top-tags .top-tag .top-tag-text {
            max-width: 46px; }
    .recipe-details .recipe-wrapper {
      display: flex;
      flex-direction: column; }
      .recipe-details .recipe-wrapper__middle__top {
        flex-direction: row; }
        .recipe-details .recipe-wrapper__middle__top .right {
          width: 100%; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe_video {
          margin-top: 20px; }
        .recipe-details .recipe-wrapper__middle__top .left .recipe-picture {
          align-items: flex-start; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags {
            flex-direction: column;
            margin-top: 5px;
            height: 100px; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag {
              flex-direction: row;
              align-items: center; }
            .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__tags .tag-text {
              width: 68px;
              height: 68px; }
          .recipe-details .recipe-wrapper__middle__top .left .recipe-picture__image {
            display: flex;
            justify-content: center; } }
